.avatar {
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

i {
  padding: 5px;
}

.content {
  margin-left: 50px;
}

.skills-list {
  font-size: 32px;
}

.skills-list h2 {
  text-decoration: underline;
}

.svg-img {
  width: 42px;
  height: 42px;
  padding: 5px;
  margin-bottom: 5px;
}